/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
html {
    color: white;
    font-size: 16px;
    -ms-overflow-style: scrollbar;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --clr-neon: hsl(317 100% 54%);
    --header-clr: #162239;
    --logo-clr: #f4a325;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-purple: #8c19ac;
}

.section {
    margin: 20px 0;
}

.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.d-flex {
    display: flex;
}
/* Header */
.header {
    width: 100%;
    height: 700px;
}

.header img {
    width: 100%;
    height: 100%;
    position: relative;
}

.header-logo img {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.header-inner {
    height: 100px;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.header-nav>li {
    display: inline-block;
    line-height: 50px;
}

.header-nav li a {
    color: gray;
    list-style-type: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 5px;
}

.header-nav>li>a {
    color: gray;
    list-style-type: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-inline: 20px;
    transition: .25s ease;
}

.header-nav>li:hover>a {
    box-shadow: inset 0 0 0 2px var(--dark-purple);
    border-radius: 4px;
}

.subnav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 90px;
    transition: .25s ease-in-out;
}

.subnav li {
    background-color: var(--dark-purple);
    border-bottom: 1px solid #ccc;
    transition: .25s ease;
}

.subnav li:hover {
    opacity: 0.8;
}

.subnav li:first-child {
    position: relative;
    border-radius: 5px 5px 0 0;
}

.subnav li:last-child {
    border-radius: 0 0 5px 5px;
}

.subnav li a {
    color: white;
    margin-inline: 20px;
    font-size: 15px;
    font-weight: 700;
    word-spacing: .5px;
    letter-spacing: .3px;
}

.subnav li:first-child::before {
    content: "";
    display: block;
    background-color: var(--dark-purple);
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left: 42px;
    border-radius: 4px;
}

.header-nav li:hover>.subnav {
    opacity: 1;
    visibility: visible;
}

/* about */
.about {
    width: 100%;
    height: 700px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-header {
    text-align: center;
    margin-bottom: 40px;
}

.about-header h1 {
    font-size: 50px;
    background: linear-gradient(to right, #ff0000, #ff5a00, #ffce00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-content-wrapper {
    width: 80%;
    height: 350px;
    margin-inline: auto;
    display: flex;
}

.about-content {
    width: 50%;
    height: 100%;
}

.about-content-left-text {
    color: black;
    padding-inline: 40px;
}

.about-content-icons-list {
    padding: 30px 40px;
}

.about-icon {
    display: inline-block;
    list-style-type: none;
    padding-right: 40px;
    position: relative;
    transition: .25s ease-in-out;
}

.about-icon img {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    transition: .25s ease-in-out;
}

.about-icon:hover>.icon-halong {
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #2cccff;
}

.about-icon:hover>.icon-sapa {
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #b6c410;
}

.about-icon:hover>.icon-hue {
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #c70ff4;
}

.about-icon:hover>.ribbon {
    opacity: 1;
    visibility: visible;
}

/* .ribbon-wrapper{

} */
.ribbon {
    position: absolute;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: #6A5AF9;
    margin-top: 10px;
    padding: 10px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: .25s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ribbon a {
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    transition: .25s ease;
}

.ribbon a:hover {
    box-shadow: inset 0 0 0 2px white;
    border-radius: 4px;
}

.ribbon::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #6A5AF9;
    transform: rotate(45deg);
    top: -4px;
    left: 20px;
    border-radius: 2px;
}

.about-content-right img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 30px 0;
}

/* Background Attachment */
.bg-attach {
    background-image: url('../assets/img/bgattach1.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.bg-attach-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FD6327;
}

.bg-attach-item h2 {
    font-family: 'Lobster', cursive;
    font-size: 55px;
}

.bg-attach-item p i {
    font-size: 50px;
    margin: 0 12px;
    color: #2371D4;
}

.bg-attach-item p i:last-child {
    color: green;
}

/* Tour */
.tour-items-header {
    display: flex;
    justify-content: center;
}

.tour-items-header h2 {
    color: #FD6327;
    font-family: "Dancing Script", Sans-serif;
    font-size: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.tour-items-header h3 {
    font-size: 40px;
    color: #2371D4;
    font-weight: 100;
    line-height: 1.4em;
    letter-spacing: .2px;
    margin: -20px 0 0 50px;
}

.tour-items-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tour-items-body-left {
    width: 50%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tour-items-body-left h3 {
    color: #FD6327;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #2371D4;
    font-weight: 100;
    line-height: 1.4em;
    letter-spacing: .2px;
}

.tour-items-body-left small {
    color: red;
    font-size: 30px;
}

.tour-items-body-left p {
    color: #000;
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    line-height: 1.8em;
}

.tour-items-body-right {
    width: 50%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* tour-items-footer */
.tour-container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 600px;
}

.tour-container-hidden {
    display: none;
}

.tour-box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    /* box-shadow: 0 20px 30px rgba(0,0,0,.1); */
    line-height: 0;
}

.tour-box>img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
    max-width: 100%;
}

.tour-box:hover {
    flex: 1 1 50%;
}

.tour-box:hover>img {
    width: 100%;
    height: 100%;
}

/* End Tour */
/* Start Guild */
.products {
    position: relative;
    z-index: 3;
    overflow: visible;
    margin-top: 60px;
    margin-bottom: 0px;
    background-color: transparent;
}

.accordion-wrapper {
    position: relative;
    display: block;
    overflow: visible;
    width: 98%;
    max-width: 1700px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 192px;
}

.product-slide {
    position: -webkit-sticky;
    position: sticky;
    bottom: 96px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 65vh;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 22px;
    background-color: #121212;
}

.product-slide.slide-1 {
    bottom: 18vh;
    z-index: 3;
    margin-top: -15vh;
    margin-bottom: 9vh;
    background-color: #98b2c0;
    background-image: none;
    box-shadow: 0 30px 30px 0 rgb(0 0 0 / 30%);
}

.product-wrapper {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1400px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 20px;
    background-color: transparent;
}

.div-block-90 {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    max-width: 480px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.text-block-21 {
    margin-top: 24px;
    font-family: Inter, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}

.text-block-22 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -1px;
}

.spacer-product {
    width: 60%;
}

.html-embed-9 {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    overflow: visible;
    width: 70%;
    height: 65vh;
    opacity: 0.8;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 0% 100%;
    object-position: 0% 100%;
}

.w-embed:before,
.w-embed:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-embed:after {
    clear: both;
}

.gradient {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(211, 205, 196, 0)), to(#d3cdc4));
    background-image: linear-gradient(180deg, rgba(211, 205, 196, 0) 61%, #d3cdc4);
}

.gradient.ios {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(67%, rgba(229, 204, 211, 0)), to(#e5ccd3));
    background-image: linear-gradient(180deg, rgba(229, 204, 211, 0) 67%, #e5ccd3);
}

.gradient.web {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(61%, rgba(211, 205, 196, 0)), to(#f0dddd));
    background-image: linear-gradient(180deg, rgba(211, 205, 196, 0) 61%, #f0dddd);
}

.product-title {
    position: absolute;
    left: 38px;
    top: auto;
    right: auto;
    bottom: 40px;
    padding-left: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.product-slide.slide-2 {
    bottom: 12vh;
    z-index: 2;
    margin-top: -7vh;
    margin-bottom: 2vh;
    background-color: #fab9cd;
    background-image: none;
    box-shadow: 0 30px 30px 0 rgb(0 0 0 / 30%);
}

.image-36 {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
    width: 70%;
    height: 100%;
    max-width: none;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
}

.product-slide.slide-3 {
    bottom: 5vh;
    z-index: 1;
    margin-top: 0vh;
    background-color: #cfbce5;
    background-image: none;
}

.in-line-button {
    display: inline-block;
    height: 40px;
    margin-top: 16px;
    padding: 6px 16px 0px;
    border: 1px none #fff;
    border-radius: 12px;
    background-color: hsla(0, 0%, 100%, 0.3);
    outline-color: #17ffa6;
    outline-offset: 0px;
    outline-style: none;
    outline-width: 1px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    font-family: Inter, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.test-gradient span {
    background: -webkit-linear-gradient(135deg, yellow, purple, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.guide h2 {
    color: #FD6327;
    font-size: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* End Guild */

/* sign in form */
.br_plus {
    height: 680px;
    width: 1200px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(98, 10, 120, 0.1), rgba(174, 15, 195, 0));
    backdrop-filter: blur(2px);
    border: 1px solid rgba(71, 2, 94, 0.18);
    box-shadow: 0 8px 32px 0 rgba(136, 5, 148, 0.37);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(149, 24, 138, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 50px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Form_Dangky {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    background-image: url(../assets/img/halong-bay-593839.jpg);
    justify-content: center;
    align-items: center;
}



.form_dangky--header {
    display: flex;
    justify-content: center;
}

.form_dangky--title {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-block: 40px;
}

.form_dangky--bodyform {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyform--imageform {
    min-width: 400px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 48, 78);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.imageform--big {
    height: 200px;
    width: 440px;
    background-image: url(../assets/img/halong_topview.jpg);
    background-size: cover;
    margin: 5px;
    border-top-left-radius: 40%;
    margin: 0;
    padding: 0;
}

.imageform--small {
    display: flex;
    justify-content: center;
}

.imageform--primary {
    height: 210px;
    width: 215px;
    background-image: url(../assets/img/sapa_ruongbatthang.jpg);
    background-size: cover;
    margin: 5px
}

.imageform--secondary {
    height: 210px;
    width: 215px;
    background-image: url(../assets/img/sapa_nhavanui.jpg);
    background-size: cover;
    margin: 5px;
    border-bottom-right-radius: 50%;
}

/* phần form đăng ký */
/* .form_dangky--textform input:focus {
    outline: none;
}

.form_dangky--textform {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.form_dangky--textform input {
    padding: 0;
    margin-bottom: 15px;
    border: none;
}

.form_dangky--textform>label>input {
    width: 90%;
    height: 50px;
    border-radius: 20px;
    padding: 0 0 0 20px;
}

.form_dangky--textform select {
    outline: none;
    width: 280px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 0 0 0 20px;
    color: black;
}

.textform--contact {
    display: flex;
    flex-direction: row;

}

.textform--contact input {
    border-radius: 20px;
    height: 50px;
}

.plus_phone {
    margin-right: 5px;
}

.plus_phone>input {
    text-align: center;
    width: 50px;

}

.phone>input {
    padding-left: 20px;
}

.textform--btn>button {
    height: 40px;
    width: 160px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.textform--btn button {
    display: inline-block;
    padding: 0 30px;
    align-items: center;
    color: white;
    background-color: transparent;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    font-size: 20px;

}

.textform--btn button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 2px;
    background-color: #6a5af9;
    z-index: -1;
    transition: height 0.25s linear, width 0.25s ease-in-out 0.25s;
}

.textform--btn button:hover:before {
    height: 100%;
    width: 100%;
    border-radius: 5px;
} */
.form_dangky--bodyform{
    display: flex;
    justify-content: space-around;
}
.form_dangky--textform{
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.fullname,
.email{
    width: 70%;
    position: relative;
}
.fullname,
.email,
.phone-number-input,
.select-phone-number,
.csm-note,
.place{
    transition: 0.25s ease-in-out;
    outline: none;
}
.fullname:focus,
.email:focus,
.phone-number-input:focus,
.select-phone-number:focus,
.csm-note:focus,
.place:focus{
    box-shadow: inset 0 0 0 1px var(--indigo);
}
.form-input{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    position: relative;
    padding: 0 34px;
    color: black;
}
.form-input-email{
    width: 70%;
}
.form-label{
    display: inline-block;
    position: absolute;
    transform: translateX(-350px);
    top: 13px;
    color: black;
    width: 200px;
    pointer-events: none;
    user-select: none;
}
.phone-number{
    display: flex;  
}
.select-phone-number{
    width: 100px;
    margin-right: 10px;
    color: black;  
    height: 50px; 
    border-radius: 10px;
    padding: 0 20px;
}
.place:focus > .fa-caret-down,
.select-phone-number:focus > .fa-caret-down{
    transform: rotate(90deg);
}
option{
    color: black;
    height: 20px;
}
.phone-number-input{
    width: 270px;
    height: 50px;
    border-radius: 10px;
    padding: 0 20px;
    color: black;
}
.place{
    color: black;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    padding: 0 20px;
}
.csm-note{
    display: block;
    border-radius: 10px;
    color: black;
    width: 70%;
    height: 200px;
    padding: 20px;
}
.sign-in-btn{
    width: 200px;
    padding: 10px 40px;
    color: white;
    outline: none;
    border: 0;
    border-radius: 10px;
    transition: .25s ease;
    background: #6A5AF9;
}
.sign-in-btn:hover{
    color: white;
    box-shadow: 0 0 5px 1px #6A5AF9;
}
.sign-in-btn:active{
    animation: btn-focus 100ms ease alternate;
}
@keyframes btn-focus {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* feedback */
.feedback-container {
    width: 100%;
    height: 600px;
    padding-inline: 20px;
    /* background-color: var(--header-clr); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-header {
    text-align: center;
}

.feedback-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
    color: var(--header-clr);
}

.feedback-content {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.feedback-items {
    width: 30%;
    height: 200px;
    padding-inline: 20px;
    letter-spacing: .3px;
    word-spacing: .5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feedback-csm-detail {
    display: flex;
    height: 60px;
}

.feedback-csm-detail-inner {
    padding-left: 20px;
    height: 100%;
}

.feedback-csm-detail-inner h4 {
    color: var(--header-clr);
}

.feedback-csm-avt {
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    box-shadow: 0 0 2px 1px var(--info);
}

.csm-feedback p {
    color: var(--header-clr);
}

/* footer */
footer {
    width: 100%;
    background-color: var(--header-clr);
}

.footer-wrapper {
    width: 95%;
    height: 350px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-items {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-items-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-items-logo {
    width: 100px;
    height: 100px;
    border-radius: 100rem;
}

.footer-items-detail-list li {
    margin-bottom: 10px;
}

.social-icons-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    font-size: 30px;
    transition: .2s ease;
}

.fa-brands:hover {
    transform: scale(1.2);
}

.social-icons-list li,
.footer-items-detail-list li {
    list-style-type: none;
}

.footer-items-policies-list li {
    list-style-type: none;
    margin-top: 10px;
}

.footer-items-policies-list li a {
    text-decoration: none;
}

/* scrollbar custom */
body::-webkit-scrollbar {
    width: 5px;
    width: 100%;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(60, 213, 255, 0.9);
    border-radius: 100em;
}

body::-webkit-scrollbar-track {
    background-color: lightgray;
}

/* header_tablet */

.fa-bars {
    font-size: 2rem;
    position: absolute;
    top: 40px;
    right: 20px;
    color: black;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.header-tablet-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    max-width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

.header-tablet-nav li {
    list-style-type: none;
    display: block;
    padding: 20px 20px;
}

.header-tablet-nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.tablet-subnav {
    display: none;
}

.close-btn {
    font-size: 20px;
    padding: 20px;
    color: black;
}

/* about tablet */
.about-content-tablet-wrapper {
    display: none;
}



/* Responsive AllWEB */
/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {

    /* header responsive */
    .header {
        height: 500px;
    }

    .fa-bars {
        display: block !important;
    }

    .header-inner {
        display: none;
    }

    .header-tablet-nav {
        transition: .3s ease;
    }

    .overlay {
        animation: overlay .3s ease alternate;
    }

    #nav-tablet-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #nav-tablet-btn:checked~.overlay {
        display: block;
    }
    #nav-tablet-btn:checked ~ .header-tablet-nav{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    @keyframes overlay {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* end header responsive */

    /* about responsive */
    .about-content-wrapper {
        display: none;
    }

    .about-content-tablet-wrapper {
        display: block !important;
        padding: 0;
        margin: 0;
    }

    .about-img {
        margin-top: 50px;
        width: 80%;
        height: 60%;
        margin-inline: auto;
    }

    .about-img img {
        width: 100%;
        height: 100%;
    }

    /* log in form responsive */
    .bodyform--imageform {
        display: none;
    }

    .br_plus {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /* feedback responsive */
    .feedback-container {
        height: 700px;
        justify-content: space-around;
        padding-inline: 100px;
    }

    .feedback-title {
        margin: 0;
    }

    .feedback-content {
        height: 600px;
        flex-direction: column;
        justify-content: space-between;
    }

    .feedback-items {
        width: 100%;
        margin-block: 20px;
    }

    /* footer responsive */
    footer {
        background-color: var(--header-clr);
        height: 1000px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1000px;
        background-color: var(--header-clr);
        text-align: center;
    }

    .footer-items {
        margin-bottom: 10px;
    }

    .footer-items img {
        margin: 0 auto;
    }

    .footer-items-title {
        margin-bottom: 20px;
    }

    .footer-items-detail-list li {
        margin-bottom: 20px;
    }

    .social-icons-list {
        width: 100%;
        margin-left: 40px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    br {
        display: none;
    }

    .row {
        width: 100% !important;
    }

    .col-12 {
        padding: 0 0 !important;
    }

    .tour .bg-attach .bg-attach-item {
        height: 100% !important;

    }

    .tour .bg-attach .bg-attach-item h2 {
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        color: #FD6327 !important;
        justify-content: center !important;
        align-items: center !important;
        font-size: 40px !important;
        height: 100% !important;
    }

    .tour-box {
        margin: 0 0 !important;
    }

    .tour-items-header h2 {
        font-size: 50px !important;
        margin-bottom: 20px !important;
    }

    .tour-items-header h3 {
        margin-top: 20px;
        font-size: 30px !important;
    }

    .tour-items-body {
        display: block !important;
    }

    .tour-items-body-left {
        width: 100% !important;
        max-width: none !important;
    }

    .tour-items-body-left h3 {
        margin-top: 15px;
    }

    .tour-items-body .tour-items-body-right {
        width: 100%;
    }

    .tour-items-body .tour-items-body-right .video-container iframe {
        width: 100%;
        height: 100%;
    }

    .tour-container {
        display: none !important;
    }

    .tour-container-hidden {
        display: block !important;
    }

    .tour-container-hidden .tour-box img {
        margin: 20px 20px 5px !important;
        width: 100% !important;
        height: 250px !important;
    }

    .tour-box--height .tour-box--height-img {
        height: 340px !important;
    }

    .products.sticky {
        padding-top: 0px !important;
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .guide .products .accordion-wrapper {
        width: 100%;
        padding-top: 128px;
    }

    .accordion-wrapper .product-slide .product-wrapper {
        padding-right: 24px;
        padding-bottom: 40px;
        padding-left: 24px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .accordion-wrapper .product-slide .product-wrapper .div-block-90 {
        padding-left: 0px;
        width: 100%;
        margin-top: 327px;
        margin-left: 50px;
    }

    .accordion-wrapper .product-slide .product-wrapper .div-block-90 .text-block-22 {
        font-size: 44px;
        line-height: 46px;
        text-align: center;
    }

    .accordion-wrapper .product-slide .product-wrapper .div-block-90 .text-block-21 {
        margin-top: 24px;
        font-family: Inter, sans-serif;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
    }

    .in-line-button {
        display: block !important;
        width: 150px !important;
        margin-top: 10px !important;
    }

    .spacer-product {
        width: 100% !important;
        height: 70% !important;
    }

    .guide .products .accordion-wrapper .product-slide.slide-1 {
        position: relative;
        bottom: auto;
        width: 100%;
        margin-top: 0vh;
        margin-bottom: 16px;
        box-shadow: none;
    }

    .guide .products .accordion-wrapper .product-slide.slide-2 {
        position: relative;
        bottom: auto;
        margin-top: 0vh;
        margin-bottom: 16px;
        box-shadow: none;
    }

    .guide .products .accordion-wrapper .product-slide.slide-3 {
        position: relative;
        bottom: auto;
    }

    .guide .products .accordion-wrapper .product-slide .image-36 {
        left: auto;
        top: 0%;
        right: auto;
        bottom: auto;
        width: 90%;
        height: 60%;
        -o-object-position: 50% 70%;
        object-position: 50% 70%;
    }

    .guide .products .accordion-wrapper .product-slide .html-embed-9 {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        display: block;
        overflow: visible;
        width: 100%;
        height: 600px;
        margin: 0px auto 0px 10vw;
        clear: none;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        -webkit-transform: translate(-13%, 0px) scale(1);
        -ms-transform: translate(-13%, 0px) scale(1);
        transform: translate(-13%, 0px) scale(1);
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 50%;
        object-position: 50% 50%;
    }

    .guide .products .accordion-wrapper .product-slide .gradient.ios {
        background-image: linear-gradient(180deg, rgba(211, 205, 196, 0) 40%, #d3cdc4 66%);
    }

    .guide .products .accordion-wrapper .product-slide .gradient.ipad {
        background-image: linear-gradient(180deg, rgba(238, 218, 204, 0) 41%, #eedacc 65%);
    }

    .guide .products .accordion-wrapper .product-slide .gradient.web {
        background-image: linear-gradient(180deg, rgba(211, 205, 196, 0) 47%, #f0dddd 68%);
    }

    .guide .products .accordion-wrapper .product-slide .product-title {
        left: 24px;
        bottom: 24px;
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .row {
        width: 100% !important;
    }

    .col-12 {
        padding: 0 0 !important;
    }

    .tour .bg-attach .bg-attach-item {
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        color: #FD6327 !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100% !important;
        font-size: 45px !important;
    }

    .tour .bg-attach .bg-attach-item h2 {
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        color: #FD6327 !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100% !important;
        font-size: 45px !important;
    }

    .tour-box {
        margin: 0 0 !important;
    }

    .tour-items-header h2 {
        font-size: 75px !important;
        margin-bottom: 20px !important;
    }

    .tour-items-header h3 {
        font-size: 35px !important;
    }

    .tour-items-body {
        display: block !important;
    }

    .tour-items-body-left {
        width: 100% !important;
        max-width: none !important;
    }

    .tour-items-body .tour-items-body-right {
        width: 100%;
    }

    .tour-items-body .tour-items-body-right .video-container iframe {
        width: 100%;
        height: 100%;
    }

    .tour-container {
        display: none !important;
    }

    .tour-container-hidden {
        display: block !important;
    }

    .tour-container-hidden .tour-box img {
        margin: 20px 20px 5px !important;
        width: 100% !important;
        height: 250px !important;
    }

    .products.sticky {
        padding-right: 24px !important;
        padding-left: 24px !important;
    }

    .guide .products .accordion-wrapper {
        max-width: 100%;
    }

    .accordion-wrapper .product-slide .product-wrapper {
        padding: 0px 64px 64px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .accordion-wrapper .product-slide .product-wrapper .div-block-90 {
        width: 100%;
        max-width: 100%;
        padding-right: 40px;
        padding-left: 40px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .accordion-wrapper .product-slide .product-wrapper .div-block-90 .text-block-22 {
        font-size: 44px;
        line-height: 46px;
    }

    .accordion-wrapper .product-slide .product-wrapper .div-block-90 .text-block-21 {
        margin-top: 24px;
        font-family: Inter, sans-serif;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
    }

    .spacer-product {
        width: 100% !important;
        height: 70% !important;
    }

    .guide .products .accordion-wrapper .product-slide.slide-1 {
        height: 75vh;
        margin-top: -10vh;
    }

    .guide .products .accordion-wrapper .product-slide.slide-2 {
        bottom: 10vh;
        height: 75vh;
        margin-top: -5vh;
        margin-bottom: 2vh;
    }

    .guide .products .accordion-wrapper .product-slide.slide-3 {
        bottom: 5vh;
        height: 75vh;
    }

    .guide .products .accordion-wrapper .product-slide .image-36 {
        left: auto;
        top: 0%;
        right: auto;
        bottom: auto;
        width: 90%;
        height: 60%;
        -o-object-position: 50% 70%;
        object-position: 50% 70%;
    }

    .guide .products .accordion-wrapper .product-slide .html-embed-9 {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: auto;
        display: block;
        overflow: visible;
        width: 100%;
        height: 400px;
        margin: 60px auto auto;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    .guide .products .accordion-wrapper .product-slide .gradient.ios {
        background-image: linear-gradient(180deg, rgba(211, 205, 196, 0) 40%, #d3cdc4 66%);
    }

    .guide .products .accordion-wrapper .product-slide .gradient.ipad {
        background-image: linear-gradient(180deg, rgba(238, 218, 204, 0) 41%, #eedacc 65%);
    }

    .guide .products .accordion-wrapper .product-slide .gradient.web {
        background-image: linear-gradient(180deg, rgba(211, 205, 196, 0) 47%, #f0dddd 68%);
    }

    .guide .products .accordion-wrapper .product-slide .product-title {
        left: 24px;
        bottom: 24px;
        display: block;
        overflow: visible;
    }
}

/* SideBar Mini */
.sidebarMini {
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 500;
    width: 400px;
    background-color: #dedfe0;
    transform: translateX(100%);
    transition: .5s;
    border-left: 1px solid #dedfe0;
}

.sidebarMini .sidebarMini__button {
    color: #29303b;
    background-color: #dedfe0;
    border: 1px solid #dedfe0;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    position: fixed;
    transform: translateX(-100%);
    transition: .5s;
}

.sidebarMini .sidebarMini__button:focus {
    outline: none;
}

.sidebarMini .sidebarMini__content {
    width: 150px;
    padding: 20px;
    text-align: center;
}

.sidebarMini .sidebarMini__content h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.sidebarMini .sidebarMini__content .switch {
    height: 25px;
    width: 50px;
    margin: 0 10px;
    position: relative;
}

.sidebarMini .sidebarMini__content .switch input {
    display: none;
}

.sidebarMini .sidebarMini__content .switch input:checked+.slider::before {
    transform: translateX(22px);
}

.sidebarMini .sidebarMini__content .switch .slider {
    background-color: #cccccc;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 34px;
    cursor: pointer;
}

.sidebarMini .sidebarMini__content .switch .slider::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 4px;
    transition: .5s;
}

.sidebarMini.is-opened {
    transform: translateX(60%);
}
/* End SideBar Mini */
/* BackToTop */
#backToTop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #backToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #backToTop:hover {
    cursor: pointer;
    background-color: #333;
  }
  #backToTop:active {
    background-color: #555;
  }
  #backToTop.show {
    opacity: 1;
    visibility: visible;
  }
/* EndBackToTop */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .tour-container {
        display: none !important;
    }

    .tour-container-hidden {
        display: block !important;
    }

    .tour-container-hidden .tour-box img {
        margin: 20px 0 !important;
        width: 100%;
        height: 893px;
    }
}

@media (min-width: 1200px) {}



/* Grid-System */
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.row-cols-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.row-cols-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.row-cols-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.row-cols-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-md-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-md-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-md-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-md-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-md-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-md-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-lg-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-lg-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-lg-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-lg-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-lg-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-lg-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .row-cols-xl-1>* {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-xl-2>* {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-xl-3>* {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .row-cols-xl-4>* {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-xl-5>* {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-xl-6>* {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}