/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,html{
    color: white;
    font-size: 16px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --header-clr: #162239;
    --logo-clr: #f4a325;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-purple: #8c19ac;
}
/* header */
.header{
    width: 100%;
    height: 700px;
}
.header img{
    width: 100%;
    height: 100%;
    position: relative; 
}
.header-logo img{
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    position: absolute;   
    top: 20px;
    left: 20px;
}
.header-inner{
    height: 100px; 
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav{
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.header-nav > li{
    display: inline-block;
    line-height: 50px;
}
.header-nav li a{
    color: gray;
    list-style-type: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 5px;
}
.header-nav > li > a{
    color: gray;
    list-style-type: none;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-inline: 20px;
    transition: .25s ease;
}
.header-nav > li:hover > a{
    box-shadow: inset 0 0 0 2px var(--dark-purple);
    border-radius: 4px;
}
.subnav{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 90px;
    transition: .25s ease-in-out;
}
.subnav li{
    background-color: var(--dark-purple);
    border-bottom: 1px solid #ccc;
    transition: .25s ease;
}
.subnav li:hover{
    opacity: 0.8;
}
.subnav li:first-child{
    position: relative;
    border-radius: 5px 5px 0 0 ;
}
.subnav li:last-child{
    border-radius: 0 0 5px 5px;
}
.subnav li a{
    color: white;
    margin-inline: 20px;
    font-size: 15px;
    font-weight: 700;
    word-spacing: .5px;
    letter-spacing: .3px;
}
.subnav li:first-child::before{
    content: "";
    display: block;
    background-color: var(--dark-purple);
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    position: absolute;
    top: -4px;
    left: 42px;
    border-radius: 4px;
}
.header-nav li:hover > .subnav{
    opacity: 1;
    visibility: visible;
}
/* about */
.about{
    width: 100%;    
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-header{
    text-align: center;
    margin-bottom: 40px;
}
.about-header h1{
    font-size: 50px;
    background: linear-gradient(to right, #ff0000, #ff5a00 , #ffce00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-content-wrapper{
    width: 70%;
    height: 350px;
    margin-inline: auto;
    display: flex;
}
.about-content{
    width: 50%;
    height: 100%;
    padding-inline: 40px;
}
.about-content-left-text{
    color: black;
}
.about-content-icons-list{
    padding-block: 30px;
}
.about-icon{
    display: inline-block;
    list-style-type: none;
    padding-right: 40px;
    position: relative;
    transition: .25s ease-in-out;
}
.about-icon img{
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    transition: .25s ease-in-out;
}
.about-icon:hover > .icon-halong{
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px #2cccff;
}
.about-icon:hover > .ribbon{
    opacity: 1;
    visibility: visible;
}
/* .ribbon-wrapper{

} */
.ribbon{
    position: absolute;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: #6A5AF9;
    margin-top: 10px;
    padding: 10px;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: .25s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ribbon a{
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    transition: .25s ease;
}
.ribbon a:hover{
    box-shadow: inset 0 0 0 2px white;
    border-radius: 4px;
}
.ribbon::before{
    position: absolute;
    content:"";
    width: 10px;
    height: 10px;
    background-color: #6A5AF9;
    transform: rotate(45deg);
    top: -4px;
    left: 20px;
    border-radius: 2px;
}
.about-content-right img{
    width: 100%;
    height: 100%;
    border-radius: 0 0 30px 0;
}
/* tour 1 */

/* tour 2 */

/* tour 3 */

/* tour guides */

/* sign in form */

/* feedback */
.feedback-container{
    width: 100%;
    height: 400px;
    padding-inline: 20px;
    background-color: var(--header-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feedback-header{
    text-align: center;
}
.feedback-title{
    margin-top: 0px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
}
.feedback-content{
    display: flex;
    justify-content: center;
    height: 280px;
    align-items: center;
}
.feedback-items{
    width: 30%;
    height: 200px;
    padding-inline: 20px;
    letter-spacing: .3px;
    word-spacing: .5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.feedback-csm1{
    
}
.feedback-csm-detail{
    display: flex;
    height: 60px;
}
.feedback-csm-detail-inner{
    padding-left: 20px;
    height: 100%;
}
.feedback-csm-avt{
    width: 50px; 
    height: 50px;
    border-radius: 100rem;
}
.csm-feedback{

}
.feedback-csm2{

}
.feedback-csm3{

}
/* footer */

/* scrollbar custom */
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
}
body::-webkit-scrollbar-track{
    
}